body {
    background-color: #ddd;
    font-family: Arial, sans-serif;
}


.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c2340;
    padding: 20px;
    width: 80%;
    margin: 40px auto;
    border: 3px solid white; 
}


.caja {
    background-color: #16213e;
    color: white;
    text-align: center;
    padding: 20px;
    width: 150px;
}


.medio {
    background-color: #e8435c;
}


.caja h2 {
    margin: 0;
    font-size: 22px;
}


.caja p {
    margin: 5px 0 0 0;
    font-size: 11px;
    letter-spacing: 1px;
}